header{
    margin-top: 0;
    background: rgb(84, 84, 190);
    margin-bottom: 50px; 
}
.header-nav{
    font-size: 25px;
    text-align: right;
    font-family: serif;
    height: 40px;
    width: auto;
    margin-right: 20px;
    
}

.header-nav a{
    color: aliceblue;
    font-size: 18px;
    padding: 6px;
    margin-top: 5px;
    text-decoration: none;
    letter-spacing: 0.6px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
   
}
 
 #accueil{
    float: left;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin-left: 10px;
    margin-top: 0;
    position: relative;
    top: 10px;
    
 }

 #patient{
    font-size: 20px;
    position: relative;
    top: 17px;
    right: 700px;

 }

 #connexion-medecin{
   
    text-align: right;
    position: relative;
    height: 20px;
    bottom: 28px;
    right: 100px;
 }
 
 #connexion-medecin .label1,  #connexion-medecin .label2{
    font-size: 16px;
    color: white;
 }

 #connexion-medecin .label1{
    position: relative;
    bottom: 10px;
    left: 165px;
}

#connexion-medecin .label2
{
position: relative;
bottom: 10px;
left: 90px;
}

 #connexion-medecin input{
    position: relative;
    top: 13px;
    margin: 0;
 }

 #connexion-medecin #emailinput{
    position: relative;
    left: 60px;
 }

 #connexion-medecin button{
    color: white;
    background:  rgb(181, 181, 226);
    border: 1px;
    position: relative;
    top: 13px;
    left: 5px;
 }
 #accueil:hover{
    text-decoration: none;
    color: aliceblue;
 }

 #button-a{
    width: 14%;
    height: 30px;
    margin-top: 10px;
    margin-right: 25px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
 }

 #button-a a {
    color: rgb(5, 5, 109);
 }
 
 .formulaire{
    width: 40%;
    height: 100%;
    line-height: 20px;
    font-weight: lighter;
    position: relative;
    left: 800px;
    bottom: 15px;
}

#cadre{
    border-radius: 40px;
    border: 1px solid rgb(84, 84, 190);
    background: white;
    height: 800px;
}
#cadre legend{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}

#cadre .ligne1{
    display: flex;
}

#cadre label{
    display: block;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 40px;
}

#cadre input, #cadre select{
    border-radius: 15px;
    border: 1px solid rgb(84, 84, 190);
    width: 75%;
    height: 28px;
    margin: 5px;
    position: relative;
    left: 30px;
}

#cadre select{
    height: 30px;
    width: 77%;
}

#cadre input[type="checkbox"]{
    display: block;
    height: 15px;
    position: relative;
    left: -215px;
    top: 22px;
}

#cadre input[type="checkbox"] + #cadre label::before{
    margin-right: 20px;
    font-size: 16px;
}

#cadre .label-condition{
    position: relative;
    left: 50px;
}

#cadre #submit{
    height: 60px;
}

#cadre #submit button{
    position: relative;
    top: 30px;
    left: 200px;
   width: 100px;
   height: 40px;
   border-radius: 20px;
   border: 1px solid ;
    background:  rgb(84, 84, 190);
    color: white;
}

#article1{
    position: absolute;
    bottom: 300px;
    left: 30px;

}

#article1 .first-h3{
    letter-spacing: 0.5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#article1 #first-h4{
    letter-spacing: 0.5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#article1 ul{
    letter-spacing: 0.5px;
    font-size: 20px;
   font-weight: 100;
}

#article2{
    position: absolute;
    top: 700px;
   left: 30px;

}

#article2 .second-h3{
    letter-spacing: 0.5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#article2 #text{
    letter-spacing: 0.5px;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body{
    background: aliceblue;
    margin: 0;
   overflow-x: hidden;

}

.rest-body {
    margin: 0;
    max-height: 600px;
}

#h4{
    font-size: 20px;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    position: relative;
    right: 40px;
    bottom: 20px;
}
.img1{
    background: none;
    position: relative;
    bottom: 400px;

}


.footer{
    background: rgb(84, 84, 190);
    margin: 0;

}
.footer p {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 18px;
    position: relative;
    bottom: 40px;
    line-height: 40px;
}


.footer h3{
    text-align: center;
    margin-top: 0;
    padding: 10px;
    color: aliceblue;
}

#copyright{
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}


